body {
  font-family: Roboto, sans-serif;
  margin: 0; /* this allows content to bleed to the edge */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-one {
  background: #1f2937;
  padding: 16px 180px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.hero-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

a,
.hero-subtext,
.links {
  font-size: 18px;
  color: #abacaf;
}

.hero-button {
  background-color: #3882f6;
  font-size: 18px;
  color: #f9faf8;
  border-radius: 8px;
  padding: 8px 0px;
  width: 150px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  padding: 96px 0px;
}

.section-one-left {
  width: 400px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.section-one-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(134, 133, 133);
  color: #cbccce;
  padding: 96px 128px;
}
